$primary: #1ed367;
$secondary: #231557;
$grey: #e2e2e2;
$grease: #2c3e50;
$highlight-on-dark: #00ca51;
$highlight-on-light: #028838;
$light: #f0ebe3;
$dark: #261e1e;
$dark-bg: #717171;
$light-bg: #e6e6e6;
$white: #ffffff;
$black: #000000;
