html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: #e2e2e2;
    overflow: hidden;
}

.App {
    text-align: center;
}

.App-logo {
    width: 4rem;
    height: 7vmin;
    pointer-events: none;
    padding-left: 2rem;
}

.menu-right {
    display: flex;
    padding-right: 3%;
    /* align-items: center; */
}

/* grid layout */
/* .cards {
    display: grid;
    justify-content: center;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 70px;
    grid-auto-flow: row;
    width: 75vw;
    margin: 20px auto 40px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    padding-bottom: 7%;
}

.con {
    overflow: scroll;
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    flex-direction: row;
    background-color: #261e1e;
}

.box {
    display: flex;
    flex-direction: column;
} */

.con,
.box {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    flex-wrap: wrap;
}

.con {
    flex-direction: column;
}

.box {
    justify-content: center;
    overflow: scroll;
    width: auto;
    padding: 10px 10px 100px;
    background-color: #261e1e;
    height: calc(100vh - 16rem);
}

.home {
    .box {
        width: 75%;
    }
    .stage {
        padding: 3%;
        width: 25vw;
        background-color: #e2e2e2;
    }
}

.con.about {
    background-color: #261e1e;
}

.text-box {
    padding: 5%;
    width: 75%;
    color: #e2e2e2;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo :hover {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    background-color: antiquewhite;
    flex: 1 0 auto;
    flex-flow: wrap;
    height: 80px;
}

.nav-con {
    display: flex;
    flex-direction: row;
    background-color: rgb(239, 238, 237);
    align-items: center;
    justify-content: space-between;
}

.nav {
    justify-content: flex-end;
}

h1 {
    text-transform: uppercase;
}
h2 {
    font-weight: 300;
    color: chocolate;
    margin: 5% auto;
}
h3 {
    font-weight: 300;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #201f1f;
    background-image: linear-gradient(287deg, #007bff, #0fa7ee);
    padding: 1% 0;
    color: #fff;
    font-size: 0.8em;
    height: 3.5rem;
    bottom: 0;
    width: 100vw;
    position: absolute;
    box-shadow: 6px -6px 6px 0px rgb(32 31 31 / 24%);
    -webkit-box-shadow: -4px -6px 6px 0px rgb(32 31 31 / 24%);
    flex: none;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    width: 12%;
    padding: 3%;
}
.link-con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.burger {
    width: 2.5rem;
    min-height: 4rem;
    z-index: 300;
    nav {
        display: flex;
        z-index: 300;
        top: 110px;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
    }
}

.burger a {
    color: black;
    margin: 20px 40px;
}

.dev {
    h3 {
        font-weight: 300;
        width: 100%;
        color: #f0ebe3;
        text-transform: uppercase;
        margin: 40px 30px 20px;
    }
}

/* queries */

@media screen and (max-width: 1150px) {
    .con {
        flex-direction: row;
    }
    .stage {
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .con {
        flex-direction: row;
    }

    .box {
        height: calc(100vh - 16rem);
    }

    // .jNjNvn {
    //     padding: 0.2rem calc((100vw - 700px) / 2) !important;
    // }
    .App-logo {
        height: 11vmin;
        margin-left: 10px;
        padding-left: 0;
    }

    .footer {
        flex-direction: column;
        height: 6rem;
        // padding: 6% 0;
    }
}
