.product-card-description-box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  flex: 0 0 auto;
  height: 50%;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  background-color: #ecf0f1;

  .row {
    display: flex;
    flex-flow: row;
    margin-top: 0.5rem;
  }
}

.product-card-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2.9px;
  color: #2c3e50;
}

.product-card-description {
  color: #2c3e50;
  font-size: 0.75rem;
  letter-spacing: 2px;
  min-height: 65px;
}

.product-card-description-wide {
  min-height: 72px;
}

.go-button {
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;

  border-radius: 0.25rem;
  transition: 0.25s;
  font-weight: 600;

  color: #000000;
  border: 2px solid black;

  &:hover,
  &:focus,
  &:active {
    // background-color: #007bff80;
    background: linear-gradient(287deg, #3cb371, #0fa7ee);
    border-color: transparent;
  }
}

.go-button-wide {
  margin-top: 20px;
}

.go-button-disabled {
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(245, 230, 230);
  background-color: #cccccc;
  border-radius: 0.25rem;
  transition: 0.25s;
  cursor: default;
}
